*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
    width: 100%;
    height: 100%;
}

.navbar{
  position: fixed;
width: 100%;
  z-index: 1;
  background-color:aliceblue;
   display: flex;
justify-content: space-between;
 padding: 0.5em;
}


.nav-1{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 56%;
  font-size: 1.1em;
  text-decoration: none;
}
.nav-1 img{
  height: 1.8em;
  width: 1.8em;
}

.nav-2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 32%;
text-decoration: none;
}

.nav-2 svg{
  height: 1.8em ;
  width: 1.8em;
}
.navbar-m{
  display: none;
}

@media (max-width: 600px) and (orientation: portrait){

   .navbar{
    display: none;
  }
  
  .navbar-m{
    position: fixed;
    z-index: 1;
  display: flex;
  justify-content: space-around;
  height: 3em;
  width: 100%;
  background-color: aqua;
  align-items: center;
  font-size: 20px;
  }
  .navbar-m a{
    text-decoration: none;
  }
}
.section-2{
  position: relative;
}
.sec-2-img-div img{
  width: 100%;
  height: 80vh;
}

.sec-2-cont-div{
  position: absolute;
  top: 30%;
  left: 15%;
  font-size: 1.5em;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 30%;
  gap: 5px;
}
.sec-2-cont-div button{
  margin-top: 10%;
  padding: 0.5em;
}

.section-3{
   margin-top: -4px;
  width: 100%;
  height: 15%;
  background-color: rgb(229, 240, 251);
}

.section-3 h1{
  text-align: center;
  padding: 15px 0 15px 0;
}
.sec-3-div{
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 40%;
  padding: 10px 0 10px 0;
}

.section-4{
  margin: 5% auto;
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 50%;
}

.sec-4-div-2{
    border-radius: 10px;
    width: 47%;
   
     background-color:aliceblue;
 
 text-align: center;
  font-size: 15px;
 
  gap: 5px;
}

.sec-4-div-2 h1{
  margin-top: 20px;
 margin-bottom: 20px;
}
.sec-4-div-2 button{
  margin-top: 10%;
  padding: 0.5em;
  color: white;
  background-color: black;

}

.sec-4-div-1{

  width: 47%;
  height: 50%;
}
.sec-4-div-1 img{
    border-radius: 10px;
width: 100%;
height: 100%;
}

@media (max-width: 600px) and (orientation: portrait) {
  .section-4{
  margin: 5% auto;
  display: flex;
 flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 50%;
}

.sec-4-div-2{
    border-radius: 10px;
    width: 100%;
   
     background-color:aliceblue;
 
 text-align: center;
  font-size: 15px;
 
  gap: 5px;
}

.sec-4-div-2 h1{
  margin-top: 20px;
 margin-bottom: 20px;
}
.sec-4-div-2 button{
  margin-top: 10%;
  padding: 0.5em;
  color: white;
  background-color: black;

}

.sec-4-div-1{
  width: 100%;
  height: 50%;
}
.sec-4-div-1 img{
    border-radius: 10px;
width: 100%;
height: 100%;
}
}