*{
  margin: 0px;
  padding: 0px;
}
#main-container {
      position: relative;
      width: 100%;
      height: 100vh;
      overflow: hidden;
    }

#navbar{
  width: 100%;
  display: flex;
  flex-direction: row;
 justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0px;
z-index: 10; 
}

#logo{
  height: 100px;
  width: 200px;
}
#buttons{
  height: 45px;
  width: 300px;
display: flex;
flex-direction: row;
gap: 10px;
justify-content: center;
}
#signin{
  width: 120px;
  background-color: red;
  color: white;
  font-weight:bold;
  font-size: 17px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
#signin:hover {
  background-color: brown;
}

#select{
  width: 120px;
  text-align: center;
   font-size: 17px;
  border-radius: 8px;
  font-weight:bold;
  border: none;
  background-color: black;
  color:white;
  cursor: pointer;
}

#bg-img{
width: 100%;
 object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
 z-index: 1;
}
  #main-container::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.4) 50%,
        rgba(0, 0, 0, 0.8) 100%
      );
      z-index: 2;
    }

#home-content{

  color: white;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 590px;
  position: absolute;
  left: 33%;
  top: 32%;
  z-index: 3;
}
#heading{
  font-family: unset;
  font-weight: 900px;
  font-size: 4.5rem;
  width: 590px;
  margin-bottom: 20px;
}
#price{
  font-family: unset;
  font-size:25px;
  font-weight: 900;
  margin-bottom: 2rem;
}

#div-email{
  display: flex;
  flex-direction: row;
height: 70px;
gap: 10px;
width: 800px;
height: 100px;
justify-content: center;
align-items: center;

}
#get-started-button{
 display: flex;
 flex-direction: row;
align-items: center;
font-size: 27px;
font-weight: 700;
color: white;
padding: 3px;
background-color: red;
padding: 10px 10px 10px 30px;
border-radius: 4px;
border: none;
width: 250px;
height: 70px;
cursor: pointer;
}
 #get-started-button:hover {
      background-color: brown; 
    }
#email{
  padding: 15px;
  width: 400px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(237, 216, 216);
  color: white;
  border-radius: 3px;
  font-size: 20px;
}
#arrow{
  height: 50px;
  width: 50px;
  color: white;
}
#para{
margin-bottom: 10px;
width: 900px;
font-size: 22px;
font-family: unset;
text-align: center;
}
#red-line{
  height: 3px;
  background-color: red;
}

#after-redline{
  padding: 50px 150px;
  /* height: 1000px; */
  background-color: black;
  color: white;
}
#Trending{
  margin-bottom: 20px;
}

.img-span{
position: relative;
   z-index: 0;
}
.imgs{
   border-radius: 5px;
   cursor: pointer;
}

.img-num{
 position: absolute;
left: 0px;
bottom: 1px;
 z-index: 1;
 color: pink;
 font-size: 100px;
 cursor: pointer;
 font-weight: bolder;
}

#img-scroll{
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100%;
}

#reasontojoin{
  margin-top: 20px;
  margin-bottom: 30px;
}
.reason{
  padding: 26px;
height: 250px;
width: 250px;
background-color: rgb(132, 130, 190);
border-radius: 6px;
}
.reason p{
  padding-top:20px ;
  font-size: large;
}

#reasons{
display: flex;
flex-direction: row;
justify-content: space-around;

}
.svg{
  padding-top: 30px;
padding-right: 0px;
  height: 50px;
  width: 50px;
  
}

#Qns{
  margin-top: 40px;
  margin-bottom: 20px;
}
#Qs{
  padding:0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}
.Q{
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  align-items: center;
  border-radius: 4px;
  background-color: rgb(62, 63, 63);
  cursor: pointer;
}
#para-2{
  padding-top: 40px;
  align-items: center;
  padding-left: 25%;
  margin-bottom: 20px;
  font-size: 20px;
}
#div-email-2{
  padding-left: 20%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}