*{
  margin: 0;
  padding: 0;
}
#nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 150px;
  height: 30px;
}

#nav a{
  text-decoration: none;
 color: black;
 font-size: 20px;
}

#home img{
  width: 100%;
  position: relative;
  z-index: 0;
  
}
#home h1{
  width: 450px;
position: absolute;
left: 100px;
top: 150px;
padding: 0 100px;
font-size: 40px;
}
#home button{
  margin-top: 30px;
  background-color: blue;
  padding: 10px 40px;
  width: 250px;
  border-radius: 50px;
  font-size: large;
  font-weight: 600;
  color: white;
  position:absolute;
  top: 300px;
  left: 100px;
  z-index: 1;
  margin-left: 100px;
  cursor: pointer;
}
#container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  padding: 20px 150px;
}
.box{
  height: 328px;
  width: 312px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.box p{
font-size: 16px;
  width: 268px;
}
.box img{
  height: 170px;
}

#last-heading{
  margin-top: -60px;
  margin-left: 200px;
  margin-bottom: 30px;
}
#last-div{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 70%;
}
#last-div img{
  width: 200px;
}
#last-div span{
  width: 400px;
}