.product-card {
  width: 180px;
  background-color: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  padding: 10px;
  font-family: Arial, sans-serif;
}

.product-card img {
  width: 100%;
  height: 120px;
  object-fit: contain;
}

.product-name {
  font-size: 13px;
  color: #111827;
  margin: 6px 0;
  height: 32px;
  overflow: hidden;
}

/* Bottom section */
.product-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 14px;
  font-weight: bold;
}

.rating {
  font-size: 12px;
  color: #16a34a;
}

.add-btn {
  border: 1px solid #16a34a;
  background-color: #ecfdf5;
  color: #16a34a;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #16a34a;
  color: white;
}
