#container{
  width: 450px;
  background-color: antiquewhite;
  border: solid 1px black;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
#div-1{
display:flex;
flex-direction: column;

}
#div-2{
  display:flex;
flex-direction: column;
gap: 16px;
}