* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100%;
    width: 100%;

}

.header {
    width: 100%;
    height: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.navbar {
    width: 98%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
    zoom: 1.7;
}

.left-navbar {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.right-navbar {
    width: 68%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 7px;
    
}

.right-item {
    font-size: 10px;
}

.ra {
    font-size: 8px;
    font-weight: 500;
}

#searchbar {
    width: 240px;
    height: 16px;
    border: none;
    border-radius: 3px;
    text-align: center;
    background-color: rgb(245, 239, 239);
    font-size: 8px;
}


.section-1 {
    width: 100%;
    height: 100%;
}

.sction-1-content {
    width: 98%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 7px;
    height: 140px;
    margin-top: 1.8em;

}

.content-section1 {
    padding: 0px 10px 0px 10px;

}



.img1-logo {
    width: 20%;

}

.center-section-content {
    padding-top: 3em;
    width: 50%;
}

.last-section-1 {
    width: 20%;
    display: flex;
    justify-content: center;

    gap: 10px;
    flex-wrap: wrap;
}


/* Section-2 */
.section-2-container {
    margin-top: 2em;
    width: 100%;

}

.section-2-main-content {
    width: 96%;
    background-color: rgb(43, 41, 41);
    margin: 0 auto;
    padding-top: 1.8em;
    border-radius: 10px;
}

.container-section-2 {
    width: 90%;
    margin: 0 auto;


}

.container-section-2 img {
    width: 100%;
}

.fixed-content{
    position: fixed;
    top: 85% ;
    left: 25%;
    display: flex;
    height: 65px;
    width: 55%;
    background-color: blueviolet;
    justify-content: space-around;
     align-items: center;
     align-content: center;
    gap: 10px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0 8px 0 8px;

}
.fixed-items{
     display: flex;
     justify-content: center;
     align-items: center;
     align-content: center;
     gap: 5px;
     
     height: 100%;
     width: 100%;
     font-size: 20px;
}
.fixed-items a{
     border: 2px solid black;
     height: 50%;
     width: 25%;
     border-radius: 6px;
    color: white;
      display: flex;
     justify-content: center;
     align-items: center;
      text-decoration: none;
}

.button-fixed{
    font-size: 20px;
    background-color: black;
    color: white;
   padding: 12px 3px ;
    width: 110px;
     border: 2px solid black;
     border-radius: 6px;
      text-align: center;
      cursor: pointer;
}
.logo-fixed{
    background-color: black;
    color: white;
    padding: 4px 3px ;
    width: 50px;
     border: 2px solid black;
     border-radius: 6px;   
}
.section-4{
    margin-top: 20px;
    margin-left: 25px;
}
.section-4 p{
    margin-bottom: 6px;
}

.full-box{
    width: 48%;
    height: 48%;
}
.inner-box{
    background-color: rgb(9, 12, 4);
    margin: 0 auto;
    padding: 40px 40px;
    border: 1px solid black;
     border-radius: 10px;
    
}
.box-img img{
    width: 100%;
    height: 100%;
    border: 2px solid rgb(99, 54, 176); 
    border-radius: 10px;
}
.full-box p{
    font-size: 20px;
    text-align: center;
}
.box-cont-menu{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 300px;
}
.section-5{
    margin-top: 50px;
    padding:0 30px;
    display: flex;
    justify-content: space-between;
   
}

.section-6-container {
    margin-top: 2em;
    width: 100%;

}

.section-6-main-content {
    width: 96%;
    background-color: rgb(43, 41, 41);
    margin: 0 auto;
    padding-top: 1.8em;
    border-radius: 10px;
}

.container-section-6 {
    width: 90%;
    margin: 0 auto;


}

.container-section-6 video {
    width: 100%;
}



.main-footer{
  width: 100%;
  padding: 50px 80px;
  background: white;
  padding-bottom: 10%;
}

.footer-top{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-logo{
  font-size: 40px;
  font-weight: 700;
}

.footer-links{
  display: flex;
  gap: 100px;
}

.footer-links ul{
  list-style: none;
}

.footer-links ul li{
  margin-bottom: 15px;
  font-size: 20px;
}

.footer-mid{
  width: 100%;
  height: 1px;
 
  margin: 40px 0;
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom-left span,
.footer-bottom-right span{
  margin-right: 15px;
  font-size: 18px;
}
