*{
  padding: 0;
  margin: 0;
}
#nav{
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
 font-size: 25px;
 height: 100px;
}

.svg{
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.a{
 text-decoration: none;
 color: black;
 
}
#logo{
  font-size: 50px;
  font-family: Impact, Haettenschweiler, sans-serif;
}

#home-bg-3{
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0;
  /* top: 100px;
  left: 0px; */
}
 #home-bg-4{
  width: 100%;
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 100px;
}

#home-bg-5{
  height: 100%;
   width: 100%;
  position: absolute;
  top: 110px;
  left: 0px;
  z-index: 2;
} 

#home-bg-6{
  height: 100%;
  width: 100%;
  position:absolute;
  z-index: 3;
  top: 140px;
  right: 0px;
}

#home-bg-7{
  height: 100%;
  width: 100%;
  position:absolute;
  z-index: 4;
  top: 140px;
  right: 0px;
}
#home-bg-8{
  height: 15%;
  width: 8%;
  position:absolute;
  z-index: 5;
  top: 140px;
  right: 80px;
}



#bg{
  margin-top:-4px;
  width: 100%;
  height: 310vh;
  background-image: url(../MSI/img/bg.jpg);
   background-size: cover;
  background-position: center;
  z-index: 0;
}
#title{
  display:flex;
  flex-direction: row;
padding-top: 50px;
}
#title h1{
  color: gold;
  font-size: 40px;
}

.Rectangle-div-one{
  margin-top: 230px;
  height: 400px;
  width: 400px;
  border: 2px solid gold;
   transform: rotate(45deg);
   display: flex;
   flex-direction: column;
   z-index: 0; 
}
#Rectangle-content{
  display:flex;
  flex-direction: column;
   align-items:center; 
   justify-content:center;
  margin-top:185px ;
  margin-left: 145px;
     transform: rotate(-45deg);
  color: white;
  width: 60%;
  gap: 5px;
}
#price{
  font-size: 60px;
  color: gold;
}
#Square-trans{
  position: relative;
  height:200px;
  width: 100%;
  
}
#lap-img{
position: absolute;
 margin-top: 100px;
 left: -50px;
z-index: 1;
height: 300px;
width: 500px;
}

#Rectangle-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  margin-left: 250px;
}
#Rectangle-container-1{
  margin-top: 28%;
  margin-left: 37%;
  margin-bottom: 300px;
}

#lap-img-3{
position: absolute;
 margin-top: -125px;
 left: -50px;
z-index: 1;
height: 300px;
width: 500px;
}

#title-2{
   display:flex;
  flex-direction: row;
padding-top: 50px;
margin-bottom: 80px;
}
#title-2 h1{
  color: gold;
  font-size: 40px;
}
#title-2-img{
  height: 50px;
  width: 33%;
}

#buyNow-tab-imgs-3{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  width: 100%;
 height: 600px;

 margin-bottom: 50px;
}

.buyNow-tab-img{
display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
 border: gold 2px solid;
 border-radius: 7px;
 cursor: pointer;
}
.buyNow-tab-img h1{
  color:black;
position: absolute;
top: 9px;
background-color: gold;
font-size: 40px;
justify-content: center;
padding: 4px 30px;
border-radius: 5px;
}

.buyNow-tab-img img{
  height: 597px;
  width: 500px;
}
#Lakh-btns{
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  padding:0 100px;
  cursor: pointer;
  margin-bottom: 100px;
}
.Lakh-btn{
  color: gold;
  position: relative;
}
.Lakh-btn-img img{
  
  height: 100px;
  width: 300px;
  
}
.Lakh-btn h1{
  position: absolute;
  top: 30px;
 left: 80px;

}
