*{
  padding: 0;
  margin: 0;
}
#nav{
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
 font-size: 25px;
 height: 100px;
}

.svg{
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.a{
 text-decoration: none;
 color: black;
 
}
#logo{
  font-size: 50px;
  font-family: Impact, Haettenschweiler, sans-serif;
}

#home-bg-3{
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0;
  /* top: 100px;
  left: 0px; */
}
 #home-bg-4{
  width: 100%;
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 100px;
}

#home-bg-5{
  height: 100%;
   width: 100%;
  position: absolute;
  top: 110px;
  left: 0px;
  z-index: 2;
} 

#home-bg-6{
  height: 100%;
  width: 100%;
  position:absolute;
  z-index: 3;
  top: 140px;
  right: 0px;
}

#home-bg-7{
  height: 100%;
  width: 100%;
  position:absolute;
  z-index: 4;
  top: 140px;
  right: 0px;
}
#home-bg-8{
  height: 15%;
  width: 8%;
  position:absolute;
  z-index: 5;
  top: 140px;
  right: 80px;
}



#bg{
  margin-top:-4px;
  width: 100%;
  height: 400vh;
  background-image: url(../MSI/img/bg.jpg);
   background-size: cover;
  background-position: center;
  z-index: 0;
}
#title{
  display:flex;
  flex-direction: row;
padding-top: 50px;
}
#title h1{
  color: gold;
  font-size: 40px;
}

.Rectangle-div-one{
  margin-top: 230px;
  height: 400px;
  width: 400px;
  border: 2px solid gold;
   transform: rotate(45deg);
   display: flex;
   flex-direction: column;
   z-index: 0; 
}
#Rectangle-content{
  display:flex;
  flex-direction: column;
   align-items:center; 
   justify-content:center;
  margin-top:185px ;
  margin-left: 145px;
     transform: rotate(-45deg);
  color: white;
  width: 60%;
  gap: 5px;
}
#price{
  font-size: 60px;
  color: gold;
}
#Square-trans{
  position: relative;
  height:200px;
  width: 100%;
  
}
#lap-img{
position: absolute;
 margin-top: 100px;
 left: -50px;
z-index: 1;
height: 300px;
width: 500px;
}

#Rectangle-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  margin-left: 250px;
}
#Rectangle-container-1{
  margin-top: 28%;
  margin-left: 37%;
  margin-bottom: 300px;
}

#lap-img-3{
position: absolute;
 margin-top: -125px;
 left: -50px;
z-index: 1;
height: 300px;
width: 500px;
}

#title-2{
   display:flex;
  flex-direction: row;
padding-top: 50px;
margin-bottom: 80px;
}
#title-2 h1{
  color: gold;
  font-size: 40px;
}
#title-2-img{
  height: 50px;
  width: 33%;
}

#buyNow-tab-imgs-3{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  width: 100%;
 height: 600px;

 margin-bottom: 60px;
}

.buyNow-tab-img{
display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
 border: gold 2px solid;
 border-radius: 7px;
 cursor: pointer;
}
.buyNow-tab-img h1{
  color:black;
position: absolute;
top: 9px;
background-color: gold;
font-size: 40px;
justify-content: center;
padding: 4px 30px;
border-radius: 5px;
}

.buyNow-tab-img img{
  height: 597px;
  width: 500px;
}
#Lakh-btns{
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  padding:0 100px;
  cursor: pointer;
  margin-bottom: 60px;
}
.Lakh-btn{
  color: gold;
  position: relative;
  
}
.Lakh-btn-txt h1{
position: absolute;
top: 19%;
left: 60px;
}

.footer-menu-items{
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}
.footer-menu-items p{
  font-size: 25px;
}
.footer-menu-items h1{
  margin-top: 20px;
  margin-bottom: 20px;
}
#footer-menu-item-container{
display: flex;
flex-direction: row;
justify-content: space-around;
gap: 10px;
}
#hr{
  margin-top: 100px;
}

#footer{
  margin-bottom: 20px;
  margin: 20px 30px 20px 30px;
 
}
#social-icon{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: -120px;
  padding:0 80px 0 80px;
}
#social-icon h2{
  margin-top: 10px;
}

#social-icon svg{
  height: 50px;
  width: 50px;
  margin-top: -10px;
  margin-bottom: 25px;
}

.shop-now-button{
  cursor: pointer;
  display: flex;
  flex-direction: row;
 background-color: red;

 
 border-radius: 40px;
 
 padding: 5px 20px 5px 20px;

}
.shop-now-button h1{
 color: white;
 font-size: 30px;
 font-weight: 600;
 width: 200px;
 align-items: center;
}
.shop-now-button svg{
  margin-top: 2px;
  height: 30px;
  width: 30px;
}
.shop-now{
  width: 700px;
  height: 550px;
  border: gold solid 2px;
  border-radius: 5px;
}
.shop-now-div-1{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.shop-now-div-1 img{
  width: 300px;
  height: 250px;
  margin-top: 150px;
}
.shop-now-div-list-div{
  margin-top: 60px;
  color: white;
}
.shop-now-div-list-div h1{
  margin-bottom: 40px;
}

.shop-now-div-list-div li{
  font-size: 20px;
  padding: 4px 20px 4px 20px;
}

.shop-now-button-div{
  
  margin-top: 35px;
  margin-left: 25%;
}

#shops{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* #deli-img{
  position: relative;
  height: 100px;
  width: 100px;
} */
#deli-bg-img{
  position: fixed;
  right: 10%;
  top: 80%;
  z-index: 10;
  cursor: pointer;
}
#deli-bg-img img{
  position: absolute;
  height: 100px;
  width: 100px;
}
#deli-bg-img:hover{
 transform: scale(1.2); 
}
#deli-upper-img img{
  position: absolute;
  top: 18px;
  left: 13px;
 height: 70px;
  width: 70px;
}